<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true">

<footer class="site-footer" style="background-color: #2c2c2c; color: #cccccc; padding: 5rem">
    <f:comment>Include a theming css for this background color</f:comment>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.layoutElement.content.template" data="{column: 104}"/>
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.layoutElement.content.template" data="{column: 105}"/>
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.layoutElement.content.template" data="{column: 106}"/>
            </div>
        </div>
    </div>
</footer>
</html>
