<header class="site-header" style="background-color: #2c2c2c; color: #cccccc;">

    <nav id="top-nav" class="show-for-large">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.layoutElement.content.template" data="{column: 101}"/>
            </div>
            <div class="col-sm-8">
                <f:cObject typoscriptObjectPath="lib.layoutElement.content.template" data="{column: 102}" />
            </div>
        </div>
    </nav>

</header>
