<div class="custom-grid-element">
    <div class="row">
        <div class="column medium-3">
            <f:format.raw>{data.tx_gridelements_view_column_101}</f:format.raw>
        </div>
        <div class="column medium-3">
            <f:format.raw>{data.tx_gridelements_view_column_102}</f:format.raw>
        </div>
    </div>
</div>
