<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <f:render partial="PageRenderer/Navigation"/>

            <div class="off-canvas-content" data-off-canvas-content>
                <f:render partial="PageRenderer/Header"/>
                <!-- TYPO3SEARCH_begin -->
                <f:render section="Content"/>
                <!-- TYPO3SEARCH_end -->
                <f:render partial="PageRenderer/Footer"/>
            </div>
    </div>
</div>
