<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      data-namespace-typo3-fluid="true">

    <h1>Call to action</h1>

    <f:if condition="{content.ctaImage.uid}">
        <div>
            <f:image image="{content.ctaImage}"/>
            <h1>{content.ctaTitle}</h1>
            <p>{content.ctaDescription}</p>
            <f:link.typolink parameter="{content.ctaLink}">
                {content.ctaLinkText}
            </f:link.typolink>
        </div>

    </f:if>

</html>