<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true">

    <f:layout name="PageRenderer/Default"/>

    <f:section name="Content">
        <div class="container" style="padding: 3rem 0 ">
            <div class="row">
                <div class="col-sm-12">
                    <f:cObject typoscriptObjectPath="lib.layoutElement.content.column" data="{column: 0}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <f:cObject typoscriptObjectPath="lib.layoutElement.content.template" data="{column: 103}"/>
                </div>
            </div>
        </div>
    </f:section>
</html>
