<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true">

<f:layout name="PageRenderer/Default"/>

<f:section name="Content">
    <div class="row">
        <div class="small-6 small-centered columns">
            <div class="callout alert">
                <strong>Error</strong> - Invalid template selected
            </div>
        </div>
    </div>

    <f:cObject typoscriptObjectPath="lib.layoutElement.content.column" data="{column: 0}"/>
</f:section>
</html>
