<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true">

    <f:if condition="{error}">
        <p style="color: red">{message} </p>
    </f:if>

    <f:render partial="PhoneForm" />

</html>
