<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true">

    <f:if condition="{result.valid}">
        <ul>
            <li>Number type : {result.line_type}</li>
            <li>Carrier/Location : {result.carrier} / {result.country_name}</li>
            <li>Number: {result.local_format}</li>
            <li>International number: {result.international_format}</li>
        </ul>
    </f:if>

    <f:link.action action="list">Back to form</f:link.action>
</html>