<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true">

    <div>
        <f:form id="verifyPhone" method="post">
            <div style="color: red;" class="form-inline" id="errors"></div>
                <pre id="results">

                </pre>
            <f:form.textfield name="phonenumber" autofocus="true" type="tel" placeholder="+316 40346694" />
            <f:form.submit value="Verify" />
        </f:form>
    </div>

</html>